<section>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <dl>
            <dt class="text-muted">Delivery Assessments:</dt>
            <dd><span data-bind="text: assessment().deliveryAssessmentCount()" /></dd>
            <dt class="text-muted">Delivery Assessment Average:</dt>
            <dd><span data-bind="text: assessment().deliveryAssessmentAverage()" /></dd>
            <dt class="text-muted">Delivery Grade:</dt>
            <dd><span data-bind="text: assessment().deliveryGrade()" /></dd>
            <dt class="text-muted">Fill Rate Score:</dt>
            <dd><span data-bind="text: assessment().fillRateScore()" /></dd>
            <dt class="text-muted">Lead Time:</dt>
            <dd><span data-bind="text: assessment().leadTime()" /></dd>
            <dt class="text-muted">Lead Time Score:</dt>
            <dd><span data-bind="text: assessment().leadTimeScore()" /></dd>
        </dl>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <dl>
            <dt class="text-muted">Service Failures:</dt>
            <dd><span data-bind="text: assessment().serviceFailureCount()" /></dd>
            <dt class="text-muted">Service Failure Score:</dt>
            <dd><span data-bind="text: assessment().serviceFailureScore()" /></dd>
            <dt class="text-muted">FillRate:</dt>
            <dd><span data-bind="text: assessment().fillRate()" /></dd>
            <dt class="text-muted">Delivery + Service Assessment Score:</dt>
            <dd><span data-bind="text: assessment().totalScore()" /></dd>
            <dt class="text-muted">Score(Average):</dt>
            <dd><span data-bind="text: assessment().scoreAverage()" /></dd>
            <dt class="text-muted">Grade Awarded</dt>
            <dd><span data-bind="text: assessment().currentGrade()" /></dd>
        </dl>
    </div>
</section>