<?xml version="1.0" encoding="utf-8"?>
<widget
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="me.app.id"
	version="1.0.0">
  <gap:config-file platform="android" parent="/manifest">
    <application android:debuggable="true" />
  </gap:config-file>
  <name>VOW Supplier Portal</name>
  <description>
    A blank project that uses Apache Cordova to help you build an app that targets multiple mobile platforms: Android, iOS, Windows, and Windows Phone.
  </description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">
    Apache Cordova Team
  </author>
  <content src="index.html" />
  <access origin="*" />
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="com.phonegap.plugin.statusbar" />
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />

  <preference name="splashscreen" value="splash" />
  <preference name="splash-screen-duration" value="10000" />
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="auto-hide-splash-screen" value="false" />
  <preference name="SplashScreenDelay" value="5000" />
  <preference name="permissions" value="none"/>

  <icon src="icon.png" />
  <splash src="splash.png" />

  <gap:splash src="splash/port-ldpi.png" gap:platform="android" gap:qualifier="port-ldpi" />
  <gap:splash src="splash/port-mdpi.png" gap:platform="android" gap:qualifier="port-mdpi" />
  <gap:splash src="splash/port-hdpi.png" gap:platform="android" gap:qualifier="port-hdpi" />
  <gap:splash src="splash/port-xhdpi.png" gap:platform="android" gap:qualifier="port-xhdpi" />
  <gap:splash src="splash/port-xhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />


  <gap:splash src="splash/ldpi.png" gap:platform="android" gap:qualifier="land-ldpi" />
  <gap:splash src="splash/mdpi.png" gap:platform="android" gap:qualifier="land-mdpi" />
  <gap:splash src="splash/hdpi.png" gap:platform="android" gap:qualifier="land-hdpi" />
  <gap:splash src="splash/xhdpi.png" gap:platform="android" gap:qualifier="land-xhdpi" />
  <gap:splash src="splash/xhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />

  <gap:splash src="splash.png" />

</widget>