<?xml version="1.0" encoding="utf-8"?>
<widget
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="me.app.id"
	version="1.0.0">
  <gap:config-file platform="android" parent="/manifest">
    <application android:debuggable="true" />
  </gap:config-file>
  <name>TEST Supp Assess</name>
  <description>
    A blank project that uses Apache Cordova to help you build an app that targets multiple mobile platforms: Android, iOS, Windows, and Windows Phone.
  </description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">
    Apache Cordova Team
  </author>
  <content src="index.html" />
  <access origin="*" />
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="com.phonegap.plugin.statusbar" />
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />

  <preference name="SplashScreen" value="splash" />
  <preference name="SplashScreenDelay" value="10000" />
  <preference name="permissions" value="none"/>

  <platform name="android">
    <gap:splash src="splash.png"/>
    <!-- you can use any density that exists in the Android project -->
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/HDPI-800x480.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/LDPI-320x200.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/MDPI-480x320.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi"  src="res/screen/android/XHDPI-1280x720.png"/>
  </platform>

</widget>