<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="pull-right" data-bind="visible:!router.isNavigating()">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="pull-right navbar-spinner">
            <ul>
                <li class="loader" data-bind="visible:router.isNavigating">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>
        </div>
        <div class="navbar-header">
            <div class="pull-left">
                <span data-bind="click: navigateBack, visible: showBackButton()" class="back-button">
                    <a href="#"><i class="fa fa-arrow-circle-left" /></a>
                </span>

                <div class="navbar-brand" style="padding-left:10px">
                    <div style="color:rgba(245, 10, 10, 1); font-weight:800; font-size: 1.3em;float:left;">
                        VOW
                    </div>
                    <div style="float:left; margin-left:5px;">
                        Supplier
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }">
                        <i style="padding-right:5px" data-bind="visible: name == 'Search'" class="fa fa-search"></i>
                        <span data-bind="text: title"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href='#' data-bind="click: logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-host container-fluid" data-bind="router: { transition:'entrance', cacheViews: true, alwaysTriggerAttach:true }"></div>
</div>